* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    background: #ffffff;
    font-family: sans-serif;
    line-height: 1.7;
    font-size: 16px;
    padding: 2rem;
}

h2 {
    color:hsl(179, 62%, 43%);
    font-size: 2rem;
/*     text-align: left;
    padding: 10px 20px 20px; */
}

.join {
/*     display: grid; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    display: grid;
}

h2 {
    padding-left: 40px;
}

.thirty-day {
   grid-column: 1/ span 2;
   padding-left: 40px;
}

.thirty-day-hassel {
    color: hsl(71, 73%, 54%);
}

.monthly-sub {
    display: grid;
    color: rgb(245, 245, 245);
    background-color: hsl(179, 62%, 43%);
    padding: 20px 20px 20px 40px;

}

.header {
    grid-column: 1/ span 2;
    font-size: 20px;
    font-weight: bold;
}

.price-per-month {
    font-size: 30px;
    grid-column: 1/2;
}

.per-month {
    font-size: 1rem;
    text-align: center;
    opacity: 80%;
}

/* .per-month {
    grid-column: 2/3;
    align-self: center;
} */

.full-access {
    grid-column: 1/ span 2;
}

/* .sign-up {
    grid-column: 1/ span 2;
    background-color: hsl(71, 73%, 54%);
    border: none;
    padding: 15px 30px;
; */

.signup {
    background-color: hsl(71, 73%, 54%);
    border: none;
    padding: 10px 10px;
    grid-column: 1/ span 2;
    margin: 1rem 0.5rem;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}


.why-us{
    background-color: hsl(179, 62%, 45%);
    padding: 20px 20px 20px 40px;
    color: hsl(204, 43%, 93%);
    text-align: left;
    
}